// assets/css/_fonts.scss

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist[wght].ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono[wght].ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}